<?php

return array(
    '/' => [
        'controller' => '\Controllers\HomeController',
        'action' => 'welcome'
    ],
    '/home-saludar' => [
        'controller' => '\Controllers\HomeController',
        'action' => 'saludar'
    ]
);