<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome Mpwar Framework</title>
        <link rel="stylesheet" href="css/welcome.css">
    </head>
    <body>
    <div id="outer">
        <div id="container">
            <div id="inner">
                <h1>Welcome to MPWAR PHP FRAMEWORK</h1>
                <div class="link-demo">
                    <a href="/demo">DEMO</a>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>